build/
*.o
*.d
*.map
*.lst

*.elf
*.nro
*.nacp
*.nso
*.npdm
*.nsp
*.kip

third_party/

libzt/

dist/
libzt-switch.tar.gz

Thumbs.db
desktop.ini
.DS_Store
*.swp
*~

# Local config with our own ZeroTier network ID -- not for the shared repo
config/
